header.main-header.main-header-index
    nav.main-navigation
        a.nav-link.main-header-logo(href='index.html')
            | Fomin Kirill
        ul.site-navigation
            li
                a.nav-link.active-nav-link(href='index.html')
                    | &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy;
            li
                a.nav-link(href='first_year.html')
                    | 1 &kcy;&ucy;&rcy;&scy;
            li
                a.nav-link(href='second_year.html')
                    | 2 &kcy;&ucy;&rcy;&scy;
            li
                a.nav-link(href='third_year.html')
                    | 3 &kcy;&ucy;&rcy;&scy;
            li
                a.nav-link(href='#')
                    | 4 &kcy;&ucy;&rcy;&scy;
    h1.header-title
        a.header-title-link Herzenfolio