extends common/layout

block content
    main.main-html
        h1.visually-hidden
            | &Pcy;&ocy;&rcy;&tcy;&fcy;&ocy;&lcy;&icy;&ocy; &zcy;&acy; &pcy;&iecy;&rcy;&vcy;&ycy;&jcy; &kcy;&ucy;&rcy;&scy;
        section.navigation-buttons
            h2.visually-hidden &Mcy;&iecy;&ncy;&yucy; &dcy;&lcy;&yacy; &vcy;&ycy;&bcy;&ocy;&rcy;&acy; &dcy;&icy;&scy;&tscy;&icy;&pcy;&lcy;&icy;&ncy;&ycy;
            ul.navigation-list
                li.navigation-container
                    a.nav-btn-link(href='#') IT
                li.navigation-container
                    a.nav-btn-link(href='#') &Lcy;&icy;&ncy;&iecy;&jcy;&ncy;&acy;&yacy; &acy;&lcy;&gcy;&iecy;&bcy;&rcy;&acy;
                li.navigation-container
                    a.nav-btn-link(href='#') &Fcy;&icy;&zcy;&icy;&kcy;&acy;
                li.navigation-container
                    a.nav-btn-link(href='#') IT &vcy; &fcy;&icy;&zcy;&icy;&kcy;&iecy;
                li.navigation-container
                    a.nav-btn-link(href='#') IT &vcy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&iecy;
                li.navigation-container
                    a.nav-btn-link(href='#') &Pcy;&rcy;&ocy;&gcy;. &ncy;&acy; &Scy;
                li.navigation-container
                    a.nav-btn-link(href='#') &Pcy;&rcy;&acy;&kcy;&tcy;&icy;&kcy;&acy;
                li.navigation-container
                    a.nav-btn-link(href='#') &Kcy;&ucy;&rcy;&scy;&ocy;&vcy;&acy;&yacy; &rcy;&acy;&bcy;&ocy;&tcy;&acy;
