extends common/layout

block content
    main.main-html
        h1.visually-hidden
            | &Pcy;&ocy;&rcy;&tcy;&fcy;&ocy;&lcy;&icy;&ocy; &Rcy;&Gcy;&Pcy;&Ucy; &icy;&mcy;. &Gcy;&iecy;&rcy;&tscy;&iecy;&ncy;&acy; &Kcy;&icy;&rcy;&icy;&lcy;&lcy;&acy; &Fcy;&ocy;&mcy;&icy;&ncy;&acy;
        section.about-me
            h2.visually-hidden &Icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&yacy; &ocy;&bcy;&ocy; &mcy;&ncy;&iecy;
            .author-face-img
                img.face-img(src='img/author.jpg' alt='Фотография автора сайта')
            p.information-about-author
                | &Pcy;&rcy;&icy;&vcy;&iecy;&scy;&tcy;&vcy;&ucy;&yucy; &ncy;&acy; &scy;&vcy;&ocy;&iecy;&mcy; &scy;&acy;&jcy;&tcy;&iecy; - &pcy;&ocy;&rcy;&tcy;&fcy;&ocy;&lcy;&icy;&ocy;! &Mcy;&iecy;&ncy;&yacy; &zcy;&ocy;&vcy;&ucy;&tcy; &Kcy;&icy;&rcy;&icy;&lcy;&lcy; &Fcy;&ocy;&mcy;&icy;&ncy;, &yacy; &scy;&tcy;&ucy;&dcy;&iecy;&ncy;&tcy; &Rcy;&Gcy;&Pcy;&Ucy;
                | &icy;&mcy;. &Gcy;&iecy;&rcy;&tscy;&iecy;&ncy;&acy;, &ncy;&acy;&pcy;&rcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&iecy; - &Icy;&Vcy;&Tcy;(&icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tcy;&icy;&kcy;&acy; &icy; &vcy;&ycy;&chcy;&icy;&scy;&lcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&acy;&yacy; &tcy;&iecy;&khcy;&ncy;&icy;&kcy;&acy;). &Dcy;&acy;&ncy;&ncy;&acy;&yacy; &vcy;&iecy;&bcy;-&scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&acy; &pcy;&rcy;&iecy;&dcy;&ncy;&acy;&zcy;&ncy;&acy;&chcy;&iecy;&ncy;&acy; &dcy;&lcy;&yacy;
                | &pcy;&rcy;&ocy;&scy;&mcy;&ocy;&tcy;&rcy;&acy; &mcy;&ocy;&icy;&khcy; &rcy;&acy;&bcy;&ocy;&tcy; &vcy; &rcy;&acy;&mcy;&kcy;&acy;&khcy; &ocy;&bcy;&ucy;&chcy;&iecy;&ncy;&icy;&yacy; &vcy; &Rcy;&Gcy;&Pcy;&Ucy; &icy;&mcy;. &Gcy;&iecy;&rcy;&tscy;&iecy;&ncy;&acy;.
        section.navigation-buttons
            h2.visually-hidden &Mcy;&iecy;&ncy;&yucy; &dcy;&lcy;&yacy; &vcy;&ycy;&bcy;&ocy;&rcy;&acy; &kcy;&ucy;&rcy;&scy;&acy;
            ul.navigation-list
                li.navigation-container
                    a.nav-btn-link(href='first_year.html') 1 &kcy;&ucy;&rcy;&scy;
                li.navigation-container
                    a.nav-btn-link(href='second_year.html')
                        | 2 &kcy;&ucy;&rcy;&scy;
                li.navigation-container
                    a.nav-btn-link(href='third_year.html') 3 &kcy;&ucy;&rcy;&scy;
                li.navigation-container
                    a.nav-btn-link(href='#') 4 &kcy;&ucy;&rcy;&scy;