extends common/layout

block content
    main.main-html
        h1.visually-hidden
          | &Pcy;&ocy;&rcy;&tcy;&fcy;&ocy;&lcy;&icy;&ocy; &zcy;&acy; &vcy;&tcy;&ocy;&rcy;&ocy;&jcy; &kcy;&ucy;&rcy;&scy;
        section.navigation-buttons
          h2.visually-hidden &Mcy;&iecy;&ncy;&yucy; &dcy;&lcy;&yacy; &vcy;&ycy;&bcy;&ocy;&rcy;&acy; &dcy;&icy;&scy;&tscy;&icy;&pcy;&lcy;&icy;&ncy;&ycy;
          ul.navigation-list
            li.navigation-container
              a.nav-btn-link(href='#') &Acy;&ncy;&acy;&lcy;&icy;&zcy; &dcy;&acy;&ncy;&ncy;&ycy;&khcy;
            li.navigation-container
              a.nav-btn-link(href='#') &Vcy;&ycy;&chcy;&mcy;&acy;&tcy;
            li.navigation-container
              a.nav-btn-link(href='#') &Fcy;&icy;&zcy;&icy;&kcy;&acy;
            li.navigation-container
              a.nav-btn-link(href='#') &Pcy;&rcy;&ocy;&gcy;. &ncy;&acy; Python
            li.navigation-container
              a.nav-btn-link(href='#') &Vcy;&iecy;&bcy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy;
            li.navigation-container
              a.nav-btn-link(href='#') &Kcy;&Mcy;&Tcy;
            li.navigation-container
              a.nav-btn-link(href='#') IT &ocy;&pcy;&tcy;&icy;&mcy;&icy;&zcy;&acy;&tscy;&icy;&yacy;
            li.navigation-container
              a.nav-btn-link(href='#') &Bcy;&acy;&zcy;&ycy; &dcy;&acy;&ncy;&ncy;&ycy;&khcy;
            li.navigation-container
              a.nav-btn-link(href='#') &Scy;&iecy;&rcy;&vcy;&iecy;&rcy;&ncy;&ycy;&iecy; &vcy;&iecy;&bcy; &tcy;&iecy;&khcy;&lcy;&ocy;&gcy;&icy;&icy;
            li.navigation-container
              a.nav-btn-link(href='#') &Vcy;&ycy;&chcy;&icy;&scy;&lcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&acy;&yacy; &tcy;&iecy;&khcy;&ncy;&icy;&kcy;&acy;
            li.navigation-container
              a.nav-btn-link(href='#') &Icy;&ncy;&tcy;&iecy;&gcy;&rcy;&acy;&lcy;&ycy; &icy; &dcy;&icy;&fcy;. &ucy;&rcy;&acy;&vcy;&ncy;&iecy;&ncy;&icy;&yacy;
            li.navigation-container
              a.nav-btn-link(href='#') &Ocy;&scy;&ncy;&ocy;&vcy;&ycy; &kcy;&ocy;&mcy;&pcy;. &acy;&lcy;&gcy;&iecy;&bcy;&rcy;&ycy;
            li.navigation-container
              a.nav-btn-link(href='#') &Pcy;&rcy;&acy;&kcy;&tcy;&icy;&kcy;&acy;
            li.navigation-container
              a.nav-btn-link(href='#') &Kcy;&ucy;&rcy;&scy;&ocy;&vcy;&acy;&yacy; &rcy;&acy;&bcy;&ocy;&tcy;&acy;
